In [3]:
!pip install pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,count

Collecting pyspark
  Using cached pyspark-3.5.1.tar.gz (317.0 MB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=b717cf84e20ce8a7f46e28bcebedc6578ede1c0cff92474ed964d4d81527e6d5
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
# Initialize SparkSession
spark = SparkSession.builder.appName("Create DataFrame Example").getOrCreate()

# Define the data from the image
data = [
    (1, 1, 0),
    (1, 1, 1),
    (1, 1, 2),
    (1, 2, 3),
    (1, 2, 4),
    (2, 1, 5),
    (2, 1, 6)
]

# Define the schema
columns = ["ACTOR_ID", "DIRECTOR_ID", "TIMESTAMP"]

# Create DataFrame
input_df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
input_df.show()

+--------+-----------+---------+
|ACTOR_ID|DIRECTOR_ID|TIMESTAMP|
+--------+-----------+---------+
|       1|          1|        0|
|       1|          1|        1|
|       1|          1|        2|
|       1|          2|        3|
|       1|          2|        4|
|       2|          1|        5|
|       2|          1|        6|
+--------+-----------+---------+

In [6]:
# Actors has cooperated with the Directors atleast 3 times
grouped_df = input_df.groupBy(["ACTOR_ID","DIRECTOR_ID"]).agg(count("TIMESTAMP").alias("combination"))
grouped_df.show()

+--------+-----------+-----------+
|ACTOR_ID|DIRECTOR_ID|combination|
+--------+-----------+-----------+
|       1|          1|          3|
|       1|          2|          2|
|       2|          1|          2|
+--------+-----------+-----------+

In [7]:
grouped_df.select("ACTOR_ID","DIRECTOR_ID").filter(grouped_df.combination >= 3).show()

+--------+-----------+
|ACTOR_ID|DIRECTOR_ID|
+--------+-----------+
|       1|          1|
+--------+-----------+