In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, min

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [19]:
# Initialize SparkSession
spark = SparkSession.builder.appName("Create DataFrame Example").getOrCreate()

# Define the data
data = [
    (1, 2, '2016-03-01', 5),
    (1, 2, '2016-05-02', 6),
    (2, 3, '2017-06-25', 1),
    (3, 1, '2016-03-02', 0),
    (3, 4, '2018-07-03', 5)
]

# Define the schema
columns = ["player_id", "device_id", "event_date", "games_played"]

# Create DataFrame
activity_df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
activity_df.show()

+---------+---------+----------+------------+
|player_id|device_id|event_date|games_played|
+---------+---------+----------+------------+
|        1|        2|2016-03-01|           5|
|        1|        2|2016-05-02|           6|
|        2|        3|2017-06-25|           1|
|        3|        1|2016-03-02|           0|
|        3|        4|2018-07-03|           5|
+---------+---------+----------+------------+

In [23]:
grouped_df = activity_df.groupBy("player_id").agg(min(col("event_date")).alias("first_login"))
grouped_df.show()

+---------+-----------+
|player_id|first_login|
+---------+-----------+
|        1| 2016-03-01|
|        2| 2017-06-25|
|        3| 2016-03-02|
+---------+-----------+