In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,sum
from pyspark.sql.window import Window

In [38]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import min

# Initialize SparkSession
spark = SparkSession.builder.appName("Create DataFrame Example").getOrCreate()

# Define the data
data = [
    (1, 2, '2016-03-01', 5),
    (1, 2, '2016-05-02', 6),
    (1, 3, '2017-06-25', 1),
    (3, 1, '2016-03-02', 0),
    (3, 4, '2018-07-03', 5)
]

# Define the schema
columns = ["player_id", "device_id", "event_date", "games_played"]

# Create DataFrame
activity_df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
activity_df.show()

+---------+---------+----------+------------+
|player_id|device_id|event_date|games_played|
+---------+---------+----------+------------+
|        1|        2|2016-03-01|           5|
|        1|        2|2016-05-02|           6|
|        1|        3|2017-06-25|           1|
|        3|        1|2016-03-02|           0|
|        3|        4|2018-07-03|           5|
+---------+---------+----------+------------+

In [39]:
WindowSpec = Window.partitionBy("player_id").orderBy("event_date")
agg_df = activity_df.withColumn("rank_device",sum("games_played").over(WindowSpec))
agg_df.show()

+---------+---------+----------+------------+-----------+
|player_id|device_id|event_date|games_played|rank_device|
+---------+---------+----------+------------+-----------+
|        1|        2|2016-03-01|           5|          5|
|        1|        2|2016-05-02|           6|         11|
|        1|        3|2017-06-25|           1|         12|
|        3|        1|2016-03-02|           0|          0|
|        3|        4|2018-07-03|           5|          5|
+---------+---------+----------+------------+-----------+